*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
:root {
--color-text: #434455;
--color-background-header: #E7E9FC;
--color-background-team: #2E2F42;
--color-button: #4D5AE5;
--color-button-nav: #404BBF;
--color-logo: #F4F4FD;
--color-buttom-first: #FFFFFF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    background-color: var(--color-buttom-first);
}
.wrapper {
    justify-content: center;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

.top-container {
    width: 1440px;
    background-color: var(--color-buttom-first);
    border-bottom: 1px solid var(--color-background-header);
    display: flex;
    padding-top: 24px;
    justify-content: space-around;
    align-items: baseline;
    padding: 24px 156px;
   
}
.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-background-team); 
    text-decoration: none;
    display: block;
}
.navigation-menu {
width: 261px;
gap: 40px;

}

.contact {
    color: var(--color-text);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-mail {
width: 153px;
}
.contact-tel {
width: 151px;
padding-left: 40px;
}
.navigation:hover {
    color:var(--color-button-nav);
    cursor: pointer;
}
.navigation:focus {
    color: var(--color-button-nav);
}
.contact:hover {
    color: var(--color-button-nav);
    cursor: pointer;
}
.contact:focus {
    color: var(--color-button-nav);
}
.first-order {
    color: var(--color-buttom-first); 
    line-height: 1.07;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 496px;
    padding-top: 188px;
    
}
.service-fields {
    color: var(--color-background-team);
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    width: 323px;
}
.contact-menu .service .team-members .service-navigation-menu .list {
    list-style: none;}

.description-name {
    color: var(--color-background-team);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    
}
.section-order{
    display: flex;
    color: var(--color-buttom-first);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--color-background-team);
    justify-content: center;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--color-button);
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    width: 115px;
}
.logo .logo-highlight {
    color:var(--color-background-team);
    
}
.studio-highlight {
    color: var(--color-logo);
}
.page-footer {
    background-color:var(--color-background-team);
}
.section-team {
    background-color:var(--color-logo);
}
.order-button {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-button);
    color: var(--color-buttom-first);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
   
    border-radius: 4px;
}
.order-button:hover {
    background-color: var(--color-button-nav);
    cursor: pointer;
}
.order-button:focus {
    color: var(--color-button-nav);
    background-color: var(--color-button-nav);
}
.service-navigation {
    font-family: "Roboto", sans-serif;
    background-color:var(--color-logo);
    color: var(--color-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.service-navigation:hover {
    background-color:var(--color-button-nav);
    color: var(--color-buttom-first);
}
.service-navigation:focus {
    background-color: var(--color-button-nav);
    color: var(--color-buttom-first);

}
.page-end {
    color:var(--color-logo);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    font-weight: 400;
}
.link {
    text-decoration: none;
    
}
.person {
    background-color: var(--color-buttom-first);
    display: block;
    max-width: 100%;
    height: auto;
}
.contact-header {
    font-style: normal;
}
.list {
    list-style-type: none;
    display: flex;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.description-list {
    display: flex;
    max-width: 1440px;
   
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
    max-height: 104px;
    }
.description-list .text {height: 72px;
flex-direction: row;}


.service {
    display: flex;
    max-width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
    
}
.service-options {
    display: block;
    max-width: 100%;
    height: auto;
}
.team-members list {
display: block;
max-width: 100%;
height: auto;
}
.team-members {
 display: flex;
 max-width: 1440px;
 padding-left: 156px;
 padding-right: 156px;
 gap: 24px;}